.contenaire{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.box{
    flex: 1 1 300px;
    margin: 10px;
}

#formulaire{
    border: solid 1px green;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 95px;
    padding-bottom: 50px;
    border-radius: 8px;
}
#formulaire input{
    display: block;
    margin-bottom: 20px;
    

}
#formulaire button{
    background-color: green;
    padding-left: 75px;
    padding-right: 75px;

}
img{
    width: 300px;
    height: 280px;
}
@media screen and (max-width:750px) {
    .contenaire{
        
        font-family: 'Times New Roman', Times, sans-serif;

    }
    img{
        width: 150px;
        height: 190px;
    }
    
}
@media screen and (max-width:350px){
    .contenaire{
       
        font-size: small;
        padding: 0px;
        margin: 0px;
       
    }
    #formulaire{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    #lamp{
        padding: 0px;
        margin: 0px;
        
    }
    img{
        width: 100px;
        height: 130px;
    }
}

