.contenaire{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 150px;
}
.box{
    flex: 0.5 1 250px;
    margin: 10px;
}

#formulaire{
    border: solid 1px green;
    padding: 50px 55px 50px 90px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 1px 1px;
}
#formulaire input{
    display: block;
    margin-bottom: 20px;
    

}
a{
    display: block;
    color: black;
    font-size: small;
    margin-top: 20px;
    padding-left: 35px;
    padding-right: 20px;
    text-decoration : none;
}
#formulaire button{
    background-color: green;
    padding-left: 75px;
    padding-right: 75px;

}
img{
    width: 300px;
    height: 280px;
}
@media screen and (max-width:750px) {
    .contenaire{
        
        font-family: 'Times New Roman', Times, sans-serif;

    }
    img{
        width: 150px;
        height: 190px;
    }
    
}
@media screen and (max-width:350px){
    .contenaire{
        font-size: small;
        padding: 0px;
        margin: 0px;
       
    }
    #formulaire{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
   
    img{
        width: 100px;
        height: 130px;
    }
}

